@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & family= Orelega+One & family= The+Nautigal & display=swap');

@font-face {
    font-family: var(--font-destaque);
    font-weight: normal;
}

body {
    background-color:var(--cor4);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
    
}

main strong {
    color: var(--cor2);
    font-weight: bold;
    padding: 2px 6px;

}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor3);
    background-color: var(--cor4);
    padding: 2px 6px;
}

:root {
    --cor0: #0023c0;
    --cor1: #258012;
    --cor2: #2e700f;
    --cor3: #801f1f;
    --cor4: #55cf88;
    --cor5: #7a181d;

    --font-destaque: 'Bebas Neue', cursiva;
    --font-padrao: arial, verdana, helvetica, sans-serif
    
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: var(--cor1);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    background-color: var(--cor2);
    font-family: var(--font-destaque);
    margin-bottom: 30px;
    font-size: 3em;
    box-shadow: 2px 2px 0px black;
    font-weight: normal;

    
}

header > p {
    color: white;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

nav {
    background-color: var(--cor3);
    padding: 10px;
    box-shadow: 7px 7px 9px rgb(65, 63, 63);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: rgb(231, 144, 72);
    color: rgb(192, 111, 5);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img {
    width: 100%;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor2);
}

main img.pequena {
    max-width: 350px;
    margin: auto;
    display: block;
}

main h1 {
    color: var(--cor0);
    font-family: var(--font-padrao);
    font-size: 1.8em;
}

main h2 {
    font-family: var(--font-padrao);
    color: rgb(22, 58, 155);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor4), transparent);
    text-indent: 8px;
    font-weight: normal;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;

}

aside {
    background-color: rgb(90, 191, 204);
    padding: 10px;
    border-radius: 10px;
}

aside > ul {

}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

div.video {
    background-color: var(--cor2);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}
div.video > iframe {
    position: absolute;
   
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    height: 90%;

}